<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <link rel="icon" href="%PUBLIC_URL%/favicon.ico" /> -->
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BotWithWorks - готовые работы</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-icons.css" rel="stylesheet">

  <link href="/css/index.css" rel="stylesheet">

</head>

<body>

  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <span>BotWithWorks</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Начало</a></li>
          <li><a class="nav-link scrollto" href="#about">О нас</a></li>
          <li><a class="nav-link scrollto" href="#values">Приемущества</a></li>
          <li><a class="nav-link scrollto" href="#faq">Ответы на вопросы</a></li>
          <li><a class="getstarted scrollto" href="https://t.me/botwithworks_bot">Начать</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center">
          <h1>Доска объявлений "BotWithWorks"</h1>
          <h2>Скопились работы, которые лежат без дела? Превратите их в пассивный доход вместе с BotWithWorks!</h2>
          <div>
            <div class="text-center text-lg-start">
              <a href="https://t.me/botwithworks_bot" style="height: 40px;"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Начать</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 hero-img">
          <img src="img/iphone.svg" class="img-fluid" style="height: 100%;" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">
    <section id="about" class="about">

      <div class="container">
        <div class="row gx-0">
          <div class="col-12 d-flex flex-column justify-content-center">
            <div class="">
              <h3 style="text-align: center;">О нас</h3>
              <h4 style="text-align: left;"><b>Кто мы?</b></h4>
              <p style="text-align: justify;">
                BotWithWorks - бесплатный сервис, интегрированный в <b>Telegram</b>, который позволяет исполнителям
                продавать результаты своего интеллектуального труда, а также находить заказчиков для своих услуг. Заказчики,
                в свою очередь, могут найти подходящего для своей задачи исполнителя.
                <br>
              </p>
              <h4 style="text-align: left;"><b>Как устроена работа в системе?</b></h4>
              <p style="text-align: justify;">
                Исполнитель выкладывает свою работу, выставляет ей цену. Например, «готовый сайт для кофейни».
                Человек, которому нужен сайт пример для кофейни будет просматривать работы, где сможет найти
                и купить вашу. В то же время, если это обычный заказчик, то работы он будет расценивать как портфолио и
                сможет написать вам для выполнения нужной ему работы.
              </p>
            </div>
          </div>

        </div>
      </div>

    </section>

    <section id="values" class="values">

      <div class="container">
        <header style="text-align: center;">
          <h2>Наши приемущества</h2>
        </header>

        <div class="row" style="margin-top: 40px">

          <div class="col-lg-3">
            <div class="box">
              <h3>Никакой регистрации</h3>
              <p style="text-align: justify;">Нет необходимости создавать аккаунт и авторизовываться. Все что нужно -
                нажать кнопку "/start" в нашем боте и вы сможете пользоваться нашим сервисом</p>
            </div>
          </div>

          <div class="col-lg-3 mt-3 mt-lg-0">
            <div class="box">
              <h3>Общение <br>без границ</h3>
              <p style="text-align: justify;">Мы против запрета обмена контактами, вы можете общаться и выполнять заказы
                за пределами нашего сервиса, мы лишь помогаем людям найти друг друга!</p>
            </div>
          </div>

          <div class="col-lg-3 mt-3 mt-lg-0">
            <div class="box">
              <h3>Пассивный заработок</h3>
              <p style="text-align: justify;">Если у вас имеются какие-нибудь залежавшиеся работы: проект
                дома, сайт, контрольная - что угодно, можно просто выложить их на наш сервис и зарабатывать с продаж!
              </p>
            </div>
          </div>
          <div class="col-lg-3 mt-3 mt-lg-0">
            <div class="box">
              <h3>Отсутсвие <br>Комиссии</h3>
              <p style="text-align: justify;">Комиссия нет! Вы только вдумайтесь! И это все с учетом возможности
                прямого общения друг с другом вне сервиса!</p>
            </div>
          </div>

        </div>

      </div>

    </section>
    <section id="faq" class="faq">

      <div class="container">

        <header style="text-align: center;">
          <h2>F.A.Q</h2>
          <p>Ответы на популярные вопросы</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item" style="background-color: #1B1C2C; border-radius: 10px; margin-top: 10px;">
                <h2 class="accordion-header" style="background-color: #1B1C2C; border-radius: 5px;">
                  <button class="accordion-button collapsed"
                    style="background-color: #1B1C2C; padding-left: 10px; border-radius: 5px; text-align: center;"
                    type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    Почему Telegram?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body" style="padding-left: 10px; color: #fff;">
                    На стандартных досках объявлений пользователям необходимо регистрироваться и пользоваться так себе
                    мессенджером. Я нашем случае регистрация не требуется, если у вас уже есть аккаунт в телеграмм, к
                    тому же это отличное средство для переписок и обсуждения вопросов
                  </div>
                </div>
              </div>

              <div class="accordion-item" style="background-color: #1B1C2C; border-radius: 5px; margin-top: 10px;">
                <h2 class="accordion-header" style="background-color: #1B1C2C; border-radius: 5px;">
                  <button class="accordion-button collapsed"
                    style="background-color: #1B1C2C; padding-left: 10px; border-radius: 5px;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    Почему нам можно доверять?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body" style="padding-left: 10px; color: #fff;">
                    Мы не собираем личную информацию пользователей, все что у нас будет - ваш ID и ник в телеграмме и нужны они
                    лишь только для того, чтобы вы смогли пользоваться сервисом.
                  </div>
                </div>
              </div>

              <div class="accordion-item" style="background-color: #1B1C2C; border-radius: 5px; margin-top: 10px;">
                <h2 class="accordion-header" style="background-color: #1B1C2C; border-radius: 5px;">
                  <button class="accordion-button collapsed"
                    style="background-color: #1B1C2C; padding-left: 10px; border-radius: 5px;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    Почему можно работать свободно общаться?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body" style="padding-left: 10px; color: #fff;">
                    Мы не биржа, мы доска объявлений.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="accordion accordion-flush" id="faqlist2">
              <div class="accordion-item" style="background-color: #1B1C2C; border-radius: 5px; margin-top: 10px;">
                <h2 class="accordion-header" style="background-color: #1B1C2C; border-radius: 5px;">
                  <button class="accordion-button collapsed"
                    style="background-color: #1B1C2C; padding-left: 10px; border-radius: 5px;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    Как происходят продажи работ?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body" style="padding-left: 10px; color: #fff;">
                    Вы выкладываете работу, человек, которому она нужна, находит её и пишет вам с целью покупки.
                  </div>
                </div>
              </div>

              <div class="accordion-item" style="background-color: #1B1C2C; border-radius: 5px; margin-top: 10px;">
                <h2 class="accordion-header" style="background-color: #1B1C2C; border-radius: 5px;">
                  <button class="accordion-button collapsed"
                    style="background-color: #1B1C2C; padding-left: 10px; border-radius: 5px;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    Что можно найти в нашем сервисе?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body" style="padding-left: 10px; color: #fff;">
                    На нашем сервисе вы сможете найти как заказы для выполнения, если вы исполнитель, а также найти
                    исполнителя, если вы заказчик. К тому же платформа будет хранить у себя большой сборник готовых
                    работ, который можно использовать для для чего угодно.
                  </div>
                </div>
              </div>

              <div class="accordion-item" style="background-color: #1B1C2C; border-radius: 5px; margin-top: 10px;">
                <h2 class="accordion-header" style="background-color: #1B1C2C; border-radius: 5px;">
                  <button class="accordion-button collapsed"
                    style="background-color: #1B1C2C; padding-left: 10px; border-radius: 5px;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    Остались вопросы? Куда можно обратиться?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body" style="padding-left: 10px; color: #fff;">
                    Специально для этого случая есть почта технической поддержки: вот она - support@botwithworks.ru<br>
                    А также по всем вопросам и предложениям: manage@botwithworks.ru
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section>
  </main>

  <footer id="footer" class="footer">

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="copyright">
            &copy; <strong><span>BotWithWorks 2023</span></strong>. Все права защищены
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="copyright">
            По всем вопросам manage@botwithworks.ru
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="copyright">
            <a style="color: #fff; text-decoration: underline;" href="/agreement">Пользовательское соглашение</a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="copyright">
            <a style="color: #fff; text-decoration: underline;" href="/confidentiality">Политика конфиденциальности</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/index.js"></script>

</body>

</html>